h1 {
    color: #77809d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px
}

h2 {
    color: #9e8380;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

main {
    margin: 15px
}

.facts p {
    background-color: #fde7dc;
    padding: 15px;
    line-height: 32px
}

img {
    width: 50%;
}

.nearby li {
    list-style-type: square;
}

a {
    color: #23395d;
    text-decoration: none
}

.titles {
    line-height: 10px;
}