h1 {
    color: #77809d;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 600
}

h2 {
    color: #9e8380;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

main {
    margin: 15px
}

.facts p {
    background-color: #fde7dc;
    padding: 15px;
    line-height: 32px;
    font-family: 'Work Sans', sans-serif
}

p {
    font-family: 'Lora', serif;
}

img {
    width: 50%;
}

.nearby li {
    list-style-type: square;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

a {
    color: #23395d;
    text-decoration: none
}

.titles {
    line-height: 10px;
}