h1 {
    color: #77809d;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    color: #9e8380;
    font-family: Arial, Helvetica, sans-serif
}

.facts p {
    background-color: #fde7dc;
    padding: 10px;
}

img {
    width: 50%;
    margin: 15px
}

.nearby li {
    list-style-type: square;
}

a {
    color: #23395d;
    text-decoration: none
}