/* 
font-family: 'Barlow', sans-serif; 
font-family: 'Exo 2', sans-serif;
font-family: 'DM Serif Display', serif
black = #11121B
light grey = CDD3CE
brownish = A37871
whiteish = F5F5F5
*/

.nav-link {
    font-size: .7em;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 3px;
    padding: 10px;
}

.block {
    text-align: center;
    font-size: .7em;
    letter-spacing: .1px;
}

.block img {
    margin: 20px 0;
}

footer p, footer b {
    font-size: .8em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

footer {
    padding: 50px 0;
}

footer,
nav {
    text-align: center;
    margin: 30px 0;
}

body {
    background: #11121B;
    color: #F5F5F5;
    font-family: 'Barlow', sans-serif;
}

a,
.nav-link {
    color: #F5F5F5;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover,
.nav-link:hover {
    color: #A37871;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
}

h2 {
    font-size: .8em;
    font-weight: 300;
}

@media (min-width=450px) {
    h1 {
        font-size: 40em;
    }

    h2 {
        color: red;
        font-size: 20em;
    }

    .nav-link {
        font-size: 15em;
    }
}